<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% if page.layout == 'home' %}
    {% assign title = 'Emmanuel Hayford · Ruby on Rails · JavaScript · Web Technologies' %}
  {% else %}
    {% assign title = page.title | default: site.title | escape %}
  {% endif %}

  {% assign canonical = page.url | replace:'index.html','' | absolute_url %}
  {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}
    {% if page.keywords.first %}
      {% assign keywords = page.keywords | join: ',' %}
    {% else %}
      {% assign keywords = page.keywords %}
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ canonical }}">
  {% assign feed_path = "/feed.xml" %}
  {% if site.feed and site.feed.path %}
    {% assign feed_path = site.feed.path %}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">

  {% include head_custom.html %}

  {% if site.facebook_app_id %}<meta property="fb:admins" content="{{ site.facebook_app_id }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="{{ site.title | escape }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:description" content="{{ description }}">
  {% if site.facebook_page %}<meta property="article:author" content="{{ site.facebook_page }}">{% endif %}
  {% if page.facebook.image %}
    <meta property="og:image" content="{{ page.facebook.image }}">
  {% elsif site.facebook_image %}
    <meta property="og:image" content="{{ site.facebook_image }}">
  {% endif %}




<meta name="twitter:site" content="@siaw23">
<meta name="twitter:creator" content="@siaw23">
<meta name="twitter:title" content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
{% endif %}




  {% include fonts.html %}
  {% include google_analytics.html %}
</head>
