<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.layout == 'home' %}
    {% assign title = 'Emmanuel Hayford · Ruby · JavaScript · Web Technologies' %}
  {% else %}
    {% assign title = page.title | default: site.title | escape %}
  {% endif %}

  {% assign canonical = page.url | replace:'index.html','' | absolute_url %}
  {% assign og_image = page.og_image %}
  {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}
    {% if page.keywords.first %}
      {% assign keywords = page.keywords | join: ',' %}
    {% else %}
      {% assign keywords = page.keywords %}
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ canonical }}">
  {% assign feed_path = "/feed.xml" %}
  {% if site.feed and site.feed.path %}
    {% assign feed_path = site.feed.path %}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">

  {% include head_custom.html %}

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ canonical }}" />
  <meta property="og:image" content="{{ og_image }}" />

  {% if page.layout == 'home' %}
    <meta property="og:type" content="website" />
  {% else %}
    <meta property="og:type" content="article" />
  {% endif %}


  <meta name="twitter:card"  content="summary_large_image">

  {% include fonts.html %}
  {% include google_analytics.html %}
</head>
