---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.external-url %}
      <h1 class="post-title" itemprop="name headline"><a href="{{ page.external-url }}">{{ page.title | escape }} &rarr;</a></h1>
    {% else %}
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% endif %}
    <p style="display: inline;" class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> -- <p class="post-meta" style="display: inline;"> Updated </p><p class="post-meta" style="display: inline;" class="post-meta"><time itemprop="dateModified">{% last_modified_at %b %-d, %Y %}</time></p>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.categories != empty or page.tags != empty %}{% include category_links.html categories=page.categories tags=page.tags %}{% endif %}</p>

  </header>


  <div class="post-content" itemprop="articleBody">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-5342050568590846"
         data-ad-slot="3516766852"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <br/>

    {{ content }}

    {% include subscribe.html %}

    {% include follow_me.html %}

    <br/>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-5342050568590846"
         data-ad-slot="3516766852"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


  </div>

  {% if site.comments == true and page.comments != false %}
    <div class="post-comments" itemprop="comment">
      {% include custom_comments_provider.html %}
    </div>
  {% endif %}

  <br>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-5342050568590846"
       data-ad-slot="3516766852"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</article>
